apiVersion: v1
kind: Service
metadata:
  name: qdrant
  namespace: bakerst
spec:
  selector:
    app: qdrant
  ports:
    - port: 6333
      targetPort: 6333
      name: http
    - port: 6334
      targetPort: 6334
      name: grpc
