apiVersion: v1
kind: Secret
metadata:
  name: irene2-secrets
  namespace: irene2
type: Opaque
stringData:
  # Use one or both of the following:
  ANTHROPIC_OAUTH_TOKEN: "sk-ant-oat01-your-token-here"
  ANTHROPIC_API_KEY: "sk-ant-api03-your-key-here"
