apiVersion: v1
kind: Service
metadata:
  name: ui
  namespace: bakerst
spec:
  type: NodePort
  selector:
    app: ui
  ports:
    - port: 8080
      targetPort: 8080
      nodePort: 30080
      name: http
