apiVersion: v1
kind: Service
metadata:
  name: grafana
  namespace: bakerst
spec:
  type: NodePort
  selector:
    app: grafana
  ports:
    - name: http
      port: 3001
      targetPort: 3001
      nodePort: 30001
